@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

#root {
  padding: 0;
  max-width: 100%;
}
* {
  font-family: "Cairo", sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
